@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Food Store ASP.NET Project</h1>
    <p>Tuesday in class project using Visual Studio 2019 with ASP.NET at <a href="http://www.georgiancollege.ca">Georgian College</a>.</p>
</div>
