

@model IEnumerable<MyFoodStore.Models.Category>;

<h1>Choose a Category</h1>
<ul>
    @foreach (var c in Model)
    {
        <li>
            <a asp-controller="Categories" asp-action="Browse" asp-route-category="@c.Name">@c.Name</a>
        </li>
    }
      

</ul>